
.wrapper {
    background-color: #a4abe1;
}
.header {
}
.container {
}
.main {
    flex: 1 1 auto;
}
.footer {
}

.shapka {
    font-size: 45px;
    text-align: center;
    color: #0d27e2;
    margin-top: 50px;
}

.btn {
    width: 200px;
    height: 70px;
    font-size: 22px;
    background-color: #0048ff;
    color: white;
    margin: 50px auto;
    display: block;
}

.vpns__box {
    display: flex;
    justify-content: space-around;
    /* margin-left: 70px; */
}

.vpn {
    background-color: red;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.vpn__img {
    width: 100%;
    text-align: center;
    /* margin-top: 22%; */
}